<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reset</title>
</head>
<body>
    <h1>RESET FORM</h1>
    <form action="/reset" method="post" >
        <input type="text" name="oldpassword" placeholder="oldpassword">
        <input type="text" name="newpassword" placeholder="newpassword">
        <input type="submit">
    </form>
</body>
</html>